
<div class="container">
    <div>
        <div class="jumbotron">
            <h4 class="display-4" style="text-align:center;">
                Welcome to IluSalong | Kolobok
            </h4>
        </div>
        <img style="width:1000px; height:500px;  display: block; margin-left: auto; margin-right: auto;" src="~/Imgs/img.jpg" />
    </div>
</div>
